whoknows@whoknows-vm:~$ sudo cat /etc/systemd/system/whoknows.service 
[Unit]
Description=Rocket Application
After=network.target

[Service]
Type=simple
User=whoknows
Group=whoknows
WorkingDirectory=/var/www/whoknows
ExecStart=/var/www/whoknows/whoknows_nooneknows
StandardOutput=journal
StandardError=journal

# Environment variables
Environment=ROCKET_ENV=release
Environment=ROCKET_SECRET_KEY=ohetIIuy3kkOXykzyKn0Y/zHOld+RChuyNQMUnb4Z4I=
Environment=DATABASE_URL=postgres://whoknows:kea2024@localhost/whoknows
Environment=STATIC_PATH=/var/www/whoknows/static
Environment=ROCKET_PORT=8000

Restart=always
RestartSec=5
SyslogIdentifier=whoknows

[Install]
WantedBy=multi-user.target
