<!DOCTYPE html>
<title>¿Who Knows?</title>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ request.static_url('static/style.css') }}"
/>
<div class="page">
  <div class="navigation">
    <nav>
      <h1>
        <a id="nav-logo" href="{{ request.route_url('search') }}"
          >¿Who Knows?</a
        >
      </h1>
      {% if 'user_id' in request.session %}
      <a id="nav-logout" href="{{ request.route_url('logout') }}"
        >Log out [{{ request.session.get('username') }}]</a
      >
      {% else %}
      <a id="nav-login" href="{{ request.route_url('login') }}">Log in</a>
      <a id="nav-register" href="{{ request.route_url('register') }}"
        >Register</a
      >
      {% endif %}
    </nav>
  </div>

  <!-- Flash Messages -->
  {% if request.session.get_flash('messages') %}
  <ul class="flashes">
    {% for message in request.session.pop_flash('messages') %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <div class="body">{% block body %}{% endblock %}</div>

  <div class="footer">
    <span>¿Who Knows? &copy; 2024</span>
    <a href="{{ request.route_url('about') }}">About</a>
  </div>
</div>
