{% extends "layout" %}
{% block title %}Home{% endblock %}
{% block body %} 
<h1>Who Knows? No one knows. Do you know?</h1>
<p>This is the homepage. Search for anything you want to know.</p>

{% endblock %}