<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>
    <h1>This is the weather page</h1>
    <p>Location: Denmark</p>
    <p>City: Copenhagen</p>
    <p>Temperature: 21 degrees</p>
    <p>Humidity: 2%</p>
    <p>Wind Speed: 3 m/s</p>
</body>
</html>
